/* Login.css */

.check-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Login-signup.css */

.login-container {
    display: flex;
    width: 100%;
    height: 80vh;
}

.form-container {
    width: 28%;
    height: 78%;
    padding: 1rem;
}

.input-box {
    width: 100%;
    margin: 0.625rem 0rem;
}

.long-btn {
    width: 95%;
}

.btn-no-bg:hover {
    color: var(--accent-hover);
}

.new-ac {
    width: 100%;
    text-align: center;
}

.login-head {
    margin: 0.625rem 1.25rem 1.25rem 1.25rem;
    text-align: center;
}

/* root.css */

.btn-no-bg {
    background-color: transparent;
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}

.btn-no-bg:hover {
    color: var(--accent-hover);
}

.justify-align {
    justify-content: center;
    align-items: center;
}

.btn-no-bg-color {
    color: var(--accent-color);
}

.btn-no-bg-color:active {
    color: var(--accent-hover);
}

.checkbox-inp-text {
    margin: 1rem 0 1rem 0;
}