.main-section {
    display: flex;
}

.left-section {
    width: 20%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.list {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 4rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
}

.left-icon:hover {
    color: var(--bg-color);
    background-color: var(--hover-red);
    border-radius: 5px;
    cursor: pointer;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 70%;
    margin: 5rem 12rem;
}

.note-con {
    display: flex;
    background-color: rgb(227, 171, 171);
    width: 50%;
    flex-direction: column;
    gap: 10px;
    padding: 0.938rem;
    border-radius: 10px;
}

.note-list {
    display: flex;
    background-color: #8d2f4e;
    flex-direction: column;
    gap: 10px;
    padding: 0.938rem;
    border-radius: 10px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1.25rem;
    gap: 1.25rem;
}

.note-area {
    background-color: transparent;
    width: 100%;
    height: 3.125rem;
    font-size: large;
}

.note-area:focus {
    outline: none;
}

.new-note-area{
    padding-left: 0px;
}

.note-footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: 600;
}

.date {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #1D3B00;
}

.footer-icons {
    display: flex;
    margin-left: auto;
    gap: 1.25rem;
}

.inp-title {
    background-color: transparent;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.inp-title:focus {
    outline: none;
}

.icon-color {
    color: var(--hover-red);
}

.text-color{
    color: var(--font-color);
}

.color{
    color: rgb(227, 171, 171);  
}

::placeholder{
    color: #975369;
}
.far {
    cursor: pointer;
}

.icon-no-bg {
    background-color: transparent;
}