.main-section {
    display: flex;
}

.left-section {
    width: 20%;
    box-shadow: 0 2px 5px #333;
}

.list {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 4rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
}

.left-icon:hover {
    color: var(--bg-color);
    background-color: var(--hover-red);
    border-radius: 5px;
    cursor: pointer;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
    margin: 5rem 12rem;
}

.home-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 50%;
    margin: 5rem 12rem;
}

.filter-section {
    width: 20%;
    text-align: start;
    font-weight: 500;
    box-shadow: 0 2px 5px #333;
}

.note-con {
    display: flex;
    background-color: #ba5273;
    width: 60%;
    flex-direction: column;
    gap: 10px;
    padding: 0.938rem;
    border-radius: 10px;
}

.note-list {
    display: flex;
    background-color: #751E3B;
    flex-direction: column;
    gap: 10px;
    padding: 0.938rem;
    border-radius: 10px;
    min-width: 40%;
}

.note-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1.25rem 1.25rem 1.25rem 0.5rem;
    gap: 1.25rem;
}

.note-area {
    background-color: transparent;
    width: 100%;
    height: 3.125rem;
    font-size: large;
}

.note-area:focus {
    outline: none;
}

.new-note-area {
    padding-left: 1rem;
    text-align: start;
    height: 2.5rem;
}

.note-footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: 600;
}

.date {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #1D3B00;
}

.footer-icons {
    display: flex;
    margin-left: auto;
    gap: 1.25rem;
}

.inp-title {
    background-color: transparent;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.inp-title:focus {
    outline: none;
}

.icon-color {
    color: var(--hover-red);
}

.text-color {
    color: var(--bg-color);
}

.color {
    color: #d5bdc5;
}

::placeholder {
    color: rgb(245, 245, 245, 0.6);
}

.far,
.fad,
.fas {
    cursor: pointer;
}

.fas {
    color: black;
}

.icon-no-bg {
    background-color: transparent;
}

#inp-color {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

.select {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--dark-red);
    font-family: 'Montserrat', sans-serif;
}

.filter-head {
    margin: 1rem;
    font-weight: 500;
    text-align: start;
}

.label-filter {
    display: block;
    padding: 0.5rem;
    margin-left: 1rem;
}

.label-head {
    text-decoration: underline;
}

.note-tag {
    display: flex;
    justify-content: space-around;
}

.tag-btn {
    background-color: var(--bg-color);
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
}

.small-text {
    font-size: 12px;
}

.filter-top {
    display: flex;
    justify-content: center;
    align-items: center;
}