.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.nav-heading {
    font-weight: 600;
}

.btn-primary-login {
    background-color: var(--dark-red);
}

.btn-primary-login:hover {
    background-color: var(--hover-red);
}

.search-box {
    width: 18rem;
    height: 3rem;
    border: 1px solid var(--dark-red);
    border-radius: 1.8rem;
    padding: 10px;
    margin: 0rem 2rem 0rem 5rem;
}

.search-box:focus {
    outline: 1px solid var(--dark-red);
}