.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: whitesmoke;
}

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: whitesmoke;
}

.nav-heading {
    font-weight: 600;
    color: var(--dark-red);
    cursor: pointer;
}

.btn-primary-login {
    background-color: var(--dark-red);
}

.btn-primary-login:hover {
    background-color: var(--hover-red);
}

.search-box {
    width: 18rem;
    height: 3rem;
    border: 1px solid var(--dark-red);
    border-radius: 1.8rem;
    padding: 10px;
    margin: 0rem 2rem 0rem 5rem;
}

.search-box:focus {
    outline: 1px solid var(--dark-red);
}

.nav-icons {
    display: flex;
    gap: 2rem;
}

.bar-hide,
.filter-hide {
    display: none;
}

.left-list-hide {
    background-color: var(--bg-color);
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    z-index: 15;
    color: var(--text-color);
    font-weight: 500;
    text-align: start;
}

.list-close {
    padding: 1rem;
}

@media screen and (max-width: 800px) {

    .bar-hide,
    .filter-hide {
        display: block;
    }
}