.chips-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--box-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.container-one {
    background-color: var(--hover-red);
    border-bottom: 1px solid var(--font-color);
    margin: 1.875rem;
    padding: 0px 0px 5px 15px;
    border-radius: 5px;
}

.container-one:hover {
    border-bottom: 2px solid black;
}

.chips-content {
    padding: 1rem;
    color: #d5bdc5;
}

.text {
    padding: 10px;
    cursor: default;
}

.chips-list {
    display: flex;
    margin: 10px;
    padding: 1rem;
    color: var(--font-color);
    font-weight: 500;
    flex-wrap: wrap;
}

.chips-item,
.chips-inp {
    display: flex;
    gap: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    padding: 1rem;
    color: var(--font-color);
    font-weight: 500;
}

.chips-item:hover {
    background-color: #d5bdc5;
    cursor: default;
}

.chips-icon {
    color: var(--hover-red);
}

.chips-inp ::placeholder {
    color: var(--font-color);
}